a:link{
    text-decoration: none;
}
header, main, footer {
  padding-left: 240px;
}

body {
  backgroud: white;
}

.side-nav {
  width: 240 !important;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
/*.card {
  width: 700 !important;
  height: 240 !important;
}*/

#credits li,
#credits li a {
  color: white;
}

.card .card-action {
  padding: 0 0 !important;
  height: 90 !important;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}






